{% load static %}

<!DOCTYPE html>
<html>

<head>
<style>
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}
.button {
  background-color: #808080; /* Green background */
  border: 1px solid white; /* Green border */
  color: white; /* White text */
  padding: 6px 6px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}



/* Add a background color on hover */
.button:hover {
  background-color: #000000;
}


</style> 
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

	
	<title>Contacts List</title>
</head>
<body>
    
    <div class="container" class="btn-group">
    <header class="header">
        <a href="{% url 'addcontact' %}">
            <button class="button">Add Contact</button>
		</a>
		<a href="{% url 'logout' %}">
            <button class="button">Logout</button>
		</a>
		<br/>
		<br/>

        <form class="d-flex" method="GET" action="{%url 'search_contact'%}">
			{% csrf_token %} {% comment %} Cross Site Request Forgery Token  {% endcomment %}
			<input class="form-control me-2" placeholder="Search Contact" type="search" aria-label="Search" name="search_contact">
				<button class="btn" type="submit"> Search </button>
				
		</form>
    </header>
        <section class="contacts-library">
				{% for contact in contacts reversed %}
			        <a href="{%url 'profile' contact.id %}" style="text-decoration: none;">

					<div class="contact-section">
						<li class="list__item">
						    <p class="contact-name">{{contact.first_name}}</p>
						</li>
					</div>
				<hr>
                </a>
                {%empty%}
                <h3>No Contact Found </h3>
				{% endfor %}
			
		</section>
    </div>
</body>
