
<!DOCTYPE html>
<html>
<head>
<style>
li{
  list-style-type: none;
  padding: 0;
  border: 2px solid #ddd;
  font-size: 20px;
}

li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none
}
</style>
    <title>Search</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
	
</head>
<body>
<div class="container">
	<header class="hero">
			<a href="{% url 'index' %}"> {% comment %} directs to the index page {% endcomment %}
				<i class="fas fa-chevron-circle-left back-btn"></i>
			</a>
			</div>
	</header>
	<div class="contact-section">
	{%for result in results%}
	<a href="{%url 'profile' result.id %}" style="text-decoration: none;"> {% comment %} directs to the profile page {% endcomment %}
	<br/>
	<li class="list__item">
		<p class="contact-name">{{result.first_name}}</p>
	</li>
	{%endfor%}
	</div>
</div>

</center>

</body>
</html>


